In [1]:
import pandas as pd

In [2]:
iris_df = pd.read_csv(
    "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"
)
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
import datafox

iris_test = datafox.test(iris_df)
iris_test.describe("Iris dataset", "some flower data")
iris_test.connect(
    server="http://localhost:3000", token="a752d76c-52d4-433b-aa2e-e5e5ac888d17"
)
iris_test.sepal_width.describe(unit="cm")
iris_test.sepal_width.should.be_normal()
iris_test.sepal_width.should.be_numbers()
iris_test.sepal_width.should.be_between(0, 3)
iris_test.sepal_width.must.be_between(0, 3)

iris_test.sepal_length.must.be_between(0, 1)

iris_test.evaluate()

DataframeTestEvaluationResult(title='Iris dataset', description='some flower data', url='https://github.com/Skn0tt/datafox/tree/ea45a5ce470e82562e1fe1c75677d02743085072#dirty', series=[SeriesTestEvaluationResult(name='sepal_width', title=None, description=None, unit='cm', lines=[Line(type='IsNormal', success=True, critical=False, message=None, meta={'alpha': 0.05}), Line(type='IsBetween', success=False, critical=False, message='expected values to be at most $3$, but found $4.4$', meta={'minimum': 0, 'maximum': 3}), Line(type='IsBetween', success=False, critical=True, message='expected values to be at most $3$, but found $4.4$', meta={'minimum': 0, 'maximum': 3})]), SeriesTestEvaluationResult(name='sepal_length', title=None, description=None, unit=None, lines=[Line(type='IsBetween', success=False, critical=True, message='expected values to be at most $1$, but found $7.9$', meta={'minimum': 0, 'maximum': 1})])])